body{}
.head{background-color: brown;
width: 100%;
height:100px;}
.bg_img{
    width:100%;
    height: 500px;
    background-image: url('/Images/pexels-3motional-studio-407102-1081685.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
   }

   .logo{
    background-color: green;
    width:80%;
    height:90px;
    margin:auto;
   display:flex;
   justify-content: space-between;
   align-items: center;
  position: absolute;
  top:-20px;
  position:relative;
   }
   a{text-decoration: none;
color: white;
justify-content: space-between;
}
.nav_links{
    margin-right:50px;
   
}
.middle{
    margin-left:30%;
}
.box{
    width:250px;
    height: 250px;
    background-color: green;
    margin-top:10%;
    opacity:80%
}
.home{color:white;
font-size: 1.2rem;}
p{ color: gray;
font-size: 3rem;
margin-top:50px}

.Quality{
    text-align: center;
}
span{
    color: gray;
font-size: 1.5rem;

}
.middle1{
    text-align: center;
padding-left: 30px;
padding-right:30px;
justify-content: center;
    align-items: center;

}
.Comfort{
    margin:auto;
    width:50%
}
.border{border:1px solid gray;
    height: 1250px;
    border-radius: 5px;
    align-content: center;


}
.gallery{
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;

}

.flex{
    display:flex;
    width:90%;
    margin: 20px auto;
    gap:20px;
}
.flex-items{
width:300px}
.image_container{
    background-image:url('Images/pexels-khashayarsk-1399068-6681435.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

    height:200px;
    width:100%;
    background-color: blue;
}
.text{
    width:40%;   
    display:flex;
    flex-direction:column;
}

.title{
    font-size: 1.3rem;
    color:black;
    margin-top:20px;
    font-weight: bold;
}
.lorem{
    font-size: 1rem;
}
button{

    border:1px solid red;
    padding: 10px;
    font-weight: 700;
    cursor:pointer;
}
footer{
    margin-top:30px
}
.footer_bg_img{
    width:100%;
    height: 500px;
    background-image: url('/Images/pexels-pixabay-219552.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }
   .overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.37);
    width:99%;
    height:500px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .red{
    background-color: red;
    color:white;
    width:80%;
    height: 300px;
    opacity: 60%;
   }